/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --formdivision-color3: rgb(38, 40, 38);
  --button-background3: rgba(247, 119, 60, 0.8);
  --table-thead-color: rgba(124, 132, 71, 0.5);
  --table-tr-odd: rgba(226, 220, 171, 0.5);
  --table-tr-even: rgba(169, 158, 84, 0.5);
  --link-color3: rgba(35, 20, 240, 0.5);
  --lg: linear-gradient(
    180deg,
    rgba(226, 222, 223, 0.2),
    rgba(197, 192, 193, 0.4),
    rgba(190, 169, 177, 0.8)
  );
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #222;
  font-size: 1em;
  padding-bottom: 20px;
  position: relative;
}

.container-section {
  max-width: 100vw;

  /* background-image: url("../img/background2.jpg"); */
  /* background-image: url("../img/DSC05234-2\ copy.jpg"); */
  height: 100vh;
  /* background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center; */
  color: #201616;
  display: flex;
  justify-content: top;
  align-items: center;
  text-align: center;
  position: relative;
  /* margin-bottom: 10px; */
}
.container {
  max-width: 100vw;
  margin-left: 1%;
  margin-right: 1%;
}
.nav {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 20px 20px;
  transition: all 0.3s ease-in-out;
}
.nav .container {
  /*display: flex; */
  width: 95%;
  display: block;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: left;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
  background-color: rgba(65, 50, 50, 0.5);
  border-radius: 5px;
  max-width: 100%;
}
legend {
  align-items: center;
  background-color: aquamarine;
  text-align: center;
  font-weight: bold;
  padding: 4px 4px 4px 4px;
  margin-bottom: 4px;
}
.content ol {
  list-style-type: decimal;
  display: list-item;
  padding-left: 20px;
}
.content ol::marker {
  display: none;
}
.content li {
  display: list-item;
  padding-bottom: 5px;
}
.content ul {
  display: list-item;
}
.content .olindent {
  list-style: circle;
  display: list-item;
  padding-left: 50px;
}
.nav .container ul {
  display: flex;
  list-style-type: none;
  align-items: left;
  justify-content: space-between;
}
.nav .container ul li {
  display: inline-block;
  position: relative;
}
.nav .container ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  border-radius: 5px;
  background: rgb(102, 100, 100);
  color: black;
}

.nav .container ul li:hover > ul,
.nav .container ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 200px;
  text-align: left;
  padding-top: 20px;
  color: black;
  box-shadow: 0px 3px 5px -1px #ccc;
}
.nav .container ul > li > ul > li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}

.nav .container ul > li > ul > li a:hover {
  padding-left: 10px;
  border-left: 2px solid #3ca0e7;
  transition: all 0.3s ease;
}
.nav a {
  text-decoration: none;
  color: #fff;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}
.nav.active {
  background-color: #fff;
}
.nav.active a {
  color: #000;
}
.nav.active .container {
  padding: 10px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.nav a.current,
.nav a:hover {
  color: #7c0a10;
  font-weight: bold;
}
.whiteI {
  color: white;
  background-color: antiquewhite;
}
.content {
  width: 90%;
  height: 90%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5px;
  margin-top: 20px;
  padding-top: 70px;
  text-align: top;
  overflow-x: auto;
  color: rgb(28, 1, 39);
  align-items: top;
  justify-content: top;
  background-color: rgba(252, 237, 237, 0.2);
}
.content h1,
.content h2,
.content h3 {
  font-size: 150%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(25, 2, 36);
}
.content p {
  color: rgb(41, 39, 39);
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: center;
}
.content a {
  text-decoration: none;
  /* color: blue; */
  color: var(--link-color3);
}
.container h1 {
  font-size: 46px;
  /* margin: 40px 0 20px; */
  font-weight: bold;
}
.container h3 {
  font-size: 30px;
  margin: 2% 0 20px;
}
.container p {
  font-size: 20px;
  letter-spacing: 1px;
}
.container a {
  color: whitesmoke;
  font-size: 25px;
  margin: 2% 0 20px;
}
.ownerpic {
  /* width: 30%;
  height: 30%; */
  /* width: 40%; */
  height: 6 0%;
}
.footer-section {
  background-color: rgb(43, 32, 43);
  text-align: center;
  color: white;
  /* padding-top: 20px; */
  padding-bottom: 20px;
  /* margin-top: 40px; */
}
.footer-section a.link,
.footer-section a:visited {
  color: white;
}
.footer-section a.current,
.footer-section a:hover {
  color: #7c0a10;
  font-weight: bold;
}
.footer-section p {
  color: white;
}
section {
  color: #000;
}
.form-grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  grid-auto-rows: minmax(100px, auto);
  /* border: 1px dashed rgb(91, 2, 129); */

  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: left;
  font-size: 85%;
}
.form-grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  grid-auto-rows: minmax(100px, auto);
  /* border: 1px dashed rgb(91, 2, 129); */

  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: left;
  font-size: 85%;
}
.form-grid4 {
  display: grid;
  grid-template-columns: repeat(4 1fr);
  gap: 8px;
  grid-auto-rows: minmax(100px, auto);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: left;
  font-size: 85%;
}
.contactCard {
  max-width: 100%;

  background-color: rgb(88, 84, 84);
  padding: 2px 2px;
  align-content: center;
  border: 2px solid rgba(33, 32, 32, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin: 4px;
}
.contactCard h3,
h4 {
  color: white;
  font-size: 15px;
  margin: 2% 0 20px;
}
.contactCard a {
  color: white;
  font-size: 15px;
  margin: 2% 0 20px;
}
.cartCard {
  max-width: 100%;
  /* background-color: blanchedalmond; */
  background-color: white;
  padding: 4px 4px;
  align-content: center;
  border: 2px solid rgba(33, 32, 32, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin: 4px;
}
.cartImage {
  width: 100%;
}
.batteryImage {
  width: 60%;
  object-fit: contain;
}
table {
  width: 90%;
  border: 1px solid var(--black3);
  border-collapse: collapse;
  border-radius: 4px;
}

th {
  text-align: left;
  border-collapse: collapse;
}
table,
/* th, */
td {
  border: 1px solid var(--black3);
  text-align: left;
  border-collapse: collapse;
}
th,
td {
  padding: 2px;
}
.table-title {
  color: black;
  font-weight: bolder;
}

tbody tr:nth-child(even) {
  /* background-color: rgba(190, 169, 177, 0.8); */
  background-color: var(--table-tr-even);
}
tbody tr:nth-child(odd) {
  /* background-color: rgba(252, 237, 237, 0.2); */
  background-color: var(--table-tr-odd);
}
thead tr {
  /* background-color: rgba(96, 83, 83, 0.5); */
  background-color: var(--table-thead-color);
}
thead th {
  color: var(--button-background3);
}
table {
  width: 90%;
  border-spacing: 5px;
  table-layout: auto;
  align-items: left;
  justify-content: left;
  word-wrap: break-word;
  border-collapse: collapse;
}
.table_small {
  width: 60%;
  border-spacing: 5px;
  table-layout: auto;
  align-items: left;
  justify-content: left;
  word-wrap: break-word;
  border-collapse: collapse;
}
td {
  text-align: left;
}

.form-container {
  max-width: 100%;
  width: 90%;
  border: 2px solid rgb(55, 30, 66);
  border-radius: 4px;
  background: var(--lg);
  margin: 5px;
  box-shadow: 2px 2px 2px 1px rgba(33, 24, 37, 0.3);
}
.form-grid-div {
  text-align: left;
  align-items: left;
  justify-content: left;
  margin-left: 20px;
}
.form-grid-div p {
  text-align: left;
}
.form-grid-div h3 {
  font-size: 75%;
}
.form-title {
  /* color: rgb(42, 7, 58); */
  /* color: var(--formdivision-color3); */
  color: var(--formdivision-color3);
  text-align: center;
  font-weight: bolder;
}
.form-division {
  color: var(--formdivision-color3);
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
}
.form-item-title {
  color: var(--formdivision-color3);
  text-align: left;
  font-size: small;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  /* grid-template-columns: repeat(6, 1fr); */
  gap: 2px;
  /* grid-auto-rows: minmax(100px, auto); */
  grid-auto-rows: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: left;
  padding: 2px;
}
.form-item {
  text-align: left;
  align-items: left;
  justify-content: left;
  max-width: 100%;
  /* margin-left: 4px;
  margin-right: 4px; */
  padding: 2px 2px;
  /* border: 1px solid rgba(55, 55, 55, .5);
  border-radius: 2px; */
}
button {
  background-color: var(--button-background3);
  width: 50%;
  color: var(--white3);
  margin-top: 5px;
  padding: 12px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
button:link {
  color: var(--white3);
}
button:link,
button:visited {
  width: 50%;

  margin-top: 5px;
  padding: 8px 15px;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
button:hover,
button:active {
  width: 50%;

  margin-top: 5px;
  padding: 8px 15px;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.rotate-270 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.rotate-180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rotate-90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
@media screen and (max-width: 1280px) {
  body {
    font-size: 90%;
  }
  .form-grid {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2px;
    /* grid-auto-rows: minmax(50px, auto); */
    grid-auto-rows: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: left;
    padding: 4px;
  }
  .ownerpic {
    height: 50%;
  }
  .batteryImage {
    width: 50%;
    object-fit: contain;
  }
}
@media screen and (max-width: 800px) {
  body {
    font-size: 75%;
  }
  .form-grid {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2px;
    /* grid-auto-rows: minmax(50px, auto); */
    grid-auto-rows: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: left;
    padding: 4px;
  }
  .nav a {
    text-decoration: none;
    color: #fff;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
    font-size: 1em;
  }
  .content .olindent {
    padding-left: 20px;
  }
}
@media screen and (max-width: 500px) {
  body {
    font-size: 40%;
  }
  .form-grid {
    display: grid;
    /* grid-template-columns: repeat(1, 1fr); */
    grid-template-columns: repeat(6, minmax(1, 1fr));
    gap: 2px;
    /* grid-auto-rows: minmax(50px, auto); */
    grid-auto-rows: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: left;
    padding: 4px;
  }
}
